body{
  background-color: #fff;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.error-page {
  background-image: url('https://raw.githubusercontent.com/roc102/BookMyShow-clone/19953e5027dadb2cbec53a459ef1eb3d04577be5/src/Screenshots/404.png');
  background-size: cover;
  background-position: center;
  height: 100vh;

  width: 100vw;
  
}